{% extends 'base.html' %}
{% block title %}Blog - {{post.title}}{% endblock title %}
{% block js %}
<script src="{{STATIC_URL}}js/add_comment_validation.js"></script>
{% endblock js %}

{% block css %}
<link href="{{STATIC_URL}}css/blog_show_post.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<h1>{{post.title}}</h1>
<h5>{{post.created_on}}</h5>
<p>{{post.body|safe}}</p>

<h3>Comments</h3>
<ul>
{% for comment in comments %}
<li>
<p><em>{{comment.text}}</em></p>
<p><strong>-{{comment.author}}</strong> - <em>({{comment.created_on|date:"SHORT_DATETIME_FORMAT"}})</em></p>
</li>
{% empty %}
<li>
<p>There are no comments yet!</p>
</li>
{% endfor %}
</ul>

 {# Add error here. #}

<form action= {% url blog.views.add_comment post_id=post.id %} method="post">
	{% csrf_token %}
	<fieldset>
		<legend>Add Comment</legend>
			<p>
				<label for='new_comment_text' class="add_comment_label" >Comment:</label>
				<textarea name='new_comment_text' rows="3" cols="50" id='new_comment_text' ></textarea>
			</p>
			<p>
				<label for='new_comment_author' class="add_comment_label" >Author:</label>
				<input name='new_comment_author' type='text' id='new_comment_author' {% if user.is_authenticated %} value={{user.first_name}} readonly="readonly" {% else %} value='Anonymous' {% endif %} />
			</p>
			<p>
				<label for='new_comment_captcha' class="add_comment_label" >What color is this box?:</label>
				<input class='captcha' name ='new_comment_captcha' type='text' id='new_comment_captcha' placeholder='red'/>
			</p>
		
			<input class='add_comment_submit' type='submit' value='Comment' />
	</fieldset>
</form>

{% endblock content %}