{% extends 'base.html' %}
{% block title %}Blog - {{post.title}}{% endblock title %}
{% block head %}
<script type="text/javascript">
</script>
{% endblock head %}


{% block content %}
<h1>{{post.title}}</h1>
<h5>{{post.created_on}}</h5>
<p>{{post.body|urlize|linebreaks}}</p>

<h3>Comments</h3>
<ul>
{% for comment in comments %}
<li>
<p><em>{{comment.text}}</em></p>
<p><strong>-{{comment.author}}</strong> - <em>({{comment.created_on|date:"SHORT_DATETIME_FORMAT"}})</em></p>
</li>
{% empty %}
<li>
<p>There are no comments yet!</p>
</li>
{% endfor %}
</ul>

<h4>Add Comment</h4>

 {# Add error here. #}

<form action= {% url blog.views.add_comment post_id=post.id %} method="post">
	{% csrf_token %}
	<p>
		<label for='new_comment_text' >Comment:</label>
		<input name='new_comment_text' type='text' id='new_comment_text' />
	</p>
	<p>
		<label for='new_comment_author' >Author:</label>
		<input name='new_comment_author' type='text' id='new_comment_author' />
	</p>
	<p>
		<label for='new_comment_captcha' >What color is this box?:</label>
		<input class='captcha' name ='new_comment_captcha' type='text' id='new_comment_captcha'/>
	</p>

	<input class='submit' type='submit' value='Comment' />
</form>

{% endblock content %}