{% extends 'base.html' %}
{% block title %} - Home{% endblock title %}

{% block nav %}
{% include 'nav_bar.html' with current_nav='home' %}
{% endblock nav %}


{% block content %}

<h1>Welcome!</h1>
<p>My Name is Kashif Malik.</p>
<p>I am a <a href="{% url 'home.views.software_engineer' %}">software engineer</a> and <a href="{% url 'home.views.film_director' %}">film director</a>. They go hand in hand, really.</p>
<br>
<h2>What is This?</h2>
<p>This is my <a href="{% url 'blog.views.index' %}">blog</a> and occasionally, a testing ground for any web app ideas I may have.</p>
<br>
<h2>What Does Kalail Mean?</h2>
<p>Kalail is how a child would spell out Kal-El, the real name of Superman. That child was me and apparently, I stuck with it.</p>
<!-- <br> -->
<!-- <h2>Who are you?</h2>
<p>A software engineer and filmmaker. They go hand in hand. Really.</p>
 -->
{% endblock content %}