Django==1.4
South==0.7.3
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.1
boto==2.3.0
celery==2.5.5
django-celery==2.5.5
django-celery-with-redis==2.5
django-debug-toolbar==0.9.4
django-extensions==0.8
django-picklefield==0.2.1
django-registration==0.8
django-social-auth==0.6.7
django-storages==1.1.4
gunicorn==0.14.2
httplib2==0.7.4
kombu==2.1.8
mock==0.8.0
oauth2==1.5.211
psycopg2==2.4.1
python-dateutil==1.5
python-memcached==1.48
python-openid==2.2.5
python-twitter==0.8.2
redis==2.4.13
rope==0.9.3
simplejson==2.5.2
