<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Kalail{% endblock %}</title>
    <link href="{% get_static_prefix %}css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header">
        <ul>
            <li class="header_item">
                <b><a class="header_item_link" href= {% url blog.views.index %} >Blog</a></b>
            </li>
            <li class="header_item">
                <b><a class="header_item_link" href= {% url main.views.about %} >About</a></b>
            </li>
            <li class="header_item">
                <b><a class="header_item_link" href= {% url main.views.contact %} >Contact</a></b>
            </li>
            <li class="header_item">
                <b><a class="header_item_link" href= {% url versioning.views.index %} >Versions</a></b>
            </li>
        </ul>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>