<!DOCTYPE html>
<html lang="en">

{% load browserid %}

<head>
	<title>Kalail{% block title %}{% endblock title %}</title>

	<meta name="google-site-verification" content="TR47a7iegmO6qw_tERZYsst8N1reeDNNQ4FJ_qw9aAY" />
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
	{% block css %}{% endblock css %}

	{% if not debug %}
		<script src="{{STATIC_URL}}js/google_analytics.js"></script>
	{% endif %}
	{% block head %}{% endblock head %}
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="sign_in_block">
				<div id="sign_in">
					{% browserid_info %}
					{% if not user.is_authenticated %}
						{% browserid_login text='Login' image='plain_sign_in_black.png' %}
					{% else %}
						{% browserid_logout text='Logout' %}
					{% endif %}
				</div>
			</div>
			<div id="title_block" >
				<h1 id="title">KALAIL</h1>
			</div>

			<div id="nav_block">
				<ul id="nav">

					{% block nav %}
					{% include 'nav_bar.html' %}
					{% endblock nav %}

				</ul>
			</div>
		</div>
		{# CONTENT #}
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</div>
	{# FOOTER #}
	<div id="footer">
		<p id="copyright">Copyright © 2012 Kalail</p>
	</div>

	<script src="{{STATIC_URL}}js/jquery-1.7.2.js"></script>
	<script src="{{STATIC_URL}}js/ajax_utils.js"></script>
	{% browserid_js %}
	{% block js %}{% endblock js %}
</body>
</html>