{% extends 'base.html' %}
{% block title %}Feedbax - Setup{{post.title}}{% endblock title %}
{% block head %}
{% endblock head %}


{% block content %}

<h2>Setup Feedbax</h2>

 {# Add error here. #}

<form action= {% url feedbax.views.setup_feedback_system %} method="post">
	{% csrf_token %}
	<p>
		<label for='new_feedbax_name' >Name:</label>
		<input name='new_feedbax_name' type='text' id='new_feedbax_name' />
	</p>
	<p>
		<label for='new_comment_site' >URL:</label>
		<input name='new_comment_site' type='text' id='new_comment_site' />
	</p>
	<p>
		<label for='new_feedbax_report_email' >Report-To-Email:</label>
		<input name='new_feedbax_report_email' type='text' id='new_feedbax_report_email' />
	</p>
	<input id='new_feedbax_submit' type='submit' value='Create' />
</form>

{% endblock content %}