{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


{% block content %}

<h1>HOME</h1>
<p>Hi there! Welcome to Kalail.</p>
<br>
<h2>What is Kalail?</h2>
<p>Kalail is my Django based experimental website. I say experimental but really I mean a testing ground for web-apps and the like. Every now and then I'm struck with an idea or a need. If I find that this tool doesn't exist, I set out to create it. Kalail is where I host these apps.</p>
<br>
<h2>Can I use these apps?</h2>
<p> Sure! Feel free to use any app you see on this site. Simply log in using Gmail, and as long as my server isn't overloaded, I'll continue to support any tools you use.</p>
<br>
<h2>Who are you?</h2>
<p>A software engineer and filmmaker. They go hand in hand. Really.</p>

{% endblock content %}