{% extends 'base.html' %}
{% block title %}Feedbax{% endblock title %}
{% block content %}
<h1>Feedbax</h1>
<p>A simple-to-use feedback system.</p>
<p><a href= {% url feedbax.views.setup_feedback_system %} >Setup a Feedbax!</a></p>
<ul>
{% for system in systems %}
<li>
<h2><a href= {% url feedbax.views.show_system_feedback system.feedbax_site %} >{{system.name}}</a></h2><p> - <a href={{system.site}}>Website</a></p><p> - <a href={% url feedbax.views.send_feedback system.feedbax_site %}>Send Feedback!</a></p>
</li>
{% endfor %}
</ul>
{% endblock content %}