{% extends 'base.html' %}
{% block title %}Feedbax - Send {{system.name}} Feedback{{post.title}}{% endblock title %}
{% block head %}
{% endblock head %}


{% block content %}

<h2>{{system.name}} Feedback</h2>

 {# Add error here. #}

<form action= {% url feedbax.views.send_feedback system.feedbax_site %} method="post">
	{% csrf_token %}
	<p>
		<label for='new_feedback_content' >Feedback:</label>
		<input name='new_feedback_content' type='text' id='new_feedback_content' />
	</p>
	<input id='new_feedback_submit' type='submit' value='Send' />
</form>

{% endblock content %}