html
{
	height: 100%;
}

body
{
	margin: 0% 0% 0% 0%;
	height: auto;
	font-family:"Helvetica", "Arial", sans-serif;
	background-color: rgb(8,10,10);
	color: rgb(255,250,250);
}

#body_centered
{
	height: auto;
	width: 900px;
	margin: 0% auto 0%;4
	overflow: auto;
}

#body_centered_spaced
{
	height: auto;
	width: 860px;
	margin: 0% auto 0%;
}

#header
{
	height: 140px;
	border-bottom: 1px dotted white;
}

#header_spaced
{
	height: auto;
	width: 810px;
	margin: 0px auto;
}

#header_title
{
	height: 70px;
	width: 20%;
	float: left;
	text-align: left;
}

#header_title_text
{
	color: white;
	text-decoration: none;
}

#header_title_text:hover
{
	color: white;
	text-decoration: none;
}

#header_user_menu
{
	height: 70px;
	width: 80%;
	float: right;
	text-align: right;
}

#header_nav_block
{
	height: 70px;
	width: 100%;
	float: left;
}

#header_nav_menu
{
	margin-top: 25px;
	margin-left: 0;
	padding-left: 0;
}

.header_item
{
	display: inline;
	padding-right: 5px;
}

.header_item_link
{
	padding:6px;
	color: white;
	text-decoration:  none;
}

.header_item_link:hover
{
	background-color: red;
	color: white;
}

#footer
{
	clear: both;
	width: 900px;
	margin: 0px auto;
	height:	40px;
}

#footer_text
{
	color: gray;
	font-size: 75%;
	margin: 30px auto;
	text-align: center;
}

#content
{
	width:	810px;
	margin: 0px auto;
	padding-bottom: 25px;
}

#user_authentication_div
{
}

#signin_button
{	
}

#signout_button
{
}

#new_feedbax_submit
{
	margin-left: 288px;
}

#new_feedback_submit
{
	margin-left: 296px;
}

textarea, input
{
	font-family:"Helvetica", "Arial", sans-serif;
	border-radius: 4px;
	border: 2px solid black;
}

textarea:hover, input:hover
{
}

textarea:focus, input:focus
{
}

p
{
}

a
{
	text-decoration: none;
	color: gray;
}


h1,h2,h3,h4,h5
{
	font-family: "Georgia",Serif;
	color: white;
}

fieldset
{
	border: 1px solid black;
}