html
{
	height: 100%;
}

body
{
	margin: 0% 0% 0% 0%;
	height: auto;
	font-family:"Helvetica", "Arial", sans-serif;
	background-color: rgb(14,14,14);
	color: rgb(220,220,220);
}

#body_centered
{
	height: auto;
	width: 900px;
	margin: 0% auto 0%;
	background-image: url("img/background_tile.png");
	background-repeat: repeat;
	box-shadow: 0px 0px 15px 10px black;
	/*Chrome Shadows*/
	-webkit-box-shadow: 0px 0px 15px 10px black;
}

#body_centered_spaced
{
	height: auto;
	width: 860px;
	margin: 0% auto 0%;
}

#header
{
	height: 140px;
	border-bottom: 1px solid white;
}

#header_spaced
{
	height: auto;
	width: 810px;
	margin: 0px auto;
}

#header_title
{
	height: 70px;
	width: 20%;
	float: left;
	text-align: left;
}

#header_title_text
{
	color: white;
	text-decoration: none;
	text-shadow: white 0px 0px 45px;
}

#header_title_text:hover
{
	color: white;
	text-decoration: none;
	text-shadow: white 0px 0px 30px;
}

#header_user_menu
{
	height: 70px;
	width: 80%;
	float: right;
	text-align: right;
}

#header_nav_block
{
	height: 70px;
	width: 100%;
	float: left;
}

#header_nav_menu
{
	margin-top: 25px;
	margin-left: 0;
	padding-left: 0;
}

.header_item
{
	display: inline;
	padding-right: 5px;
}

.header_item_link
{
	padding:6px;
	color: rgb(255,255,255);
	text-decoration:  none;
}

.header_item_link:hover
{
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
}

#footer
{
	width: 900px;
	margin: 0px auto;
	height:	40px;
}

#footer_text
{
	color: gray;
	text-shadow: 0px 0px 5px black;
	font-size: 75%;
	margin: 30px auto;
	text-align: center;
}

#content
{
	width:	810px;
	margin: 0px auto;
	padding-bottom: 25px;
}

#user_authentication_div
{
}

#signin_button
{	
}

#signout_button
{
}

#new_feedbax_submit
{
	margin-left: 288px;
}

#new_feedback_submit
{
	margin-left: 296px;
}

textarea, input
{
	font-family:"Helvetica", "Arial", sans-serif;
	border-radius: 4px;
	border: 2px solid white;
}

textarea:hover, input:hover
{
}

textarea:focus, input:focus
{
	box-shadow: 0px 0px 10px white;
}

p
{
}

a
{
	text-decoration: none;
	color: rgb(160,40,40);
}


h1,h2,h3,h4,h5
{
	color: rgb(255,255,255);
}

fieldset
{
	border: 1px solid white;
}