.add_comment_label
{
	width: 175px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.add_comment_submit
{
	margin-left: 250px;
}

.captcha
{
	background-color: rgb(175,20,20);
	color: white;
	border: 2px solid rgb(175,20,20);
}