#recent_blogposts
{
	float: left;
	width: 65%;
	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
}

#recent_tweets
{
	margin: 0px;
	margin-left: 70%;
	width: 30%;
	padding: 0px;
	font-size: 75%;
}

#home_text
{
	width: 100%;
}
