{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<h1>About</h1>

<p>Kalail.com is my Django based experimental website. I say experimental, but I mean it is my testing ground for web-apps and other web based projects. I'm also using this space as a blog, where I would try to document my progress.</p>

<h2>Me</h2>

<p>I am an Electrical Engineer/Computer Science junior at college. I enjoy directing films and doing VFX. In my spare time I mess around with technologies both film and CS related. Lately I've been spending a lot of time using and setting up web based applications.</p>

{% endblock content %}