{% extends 'blog/base_blog.html' %}
{% block title %} - Blog - {{post.title}}{% endblock title %}
{% block js %}
<script src="{{STATIC_URL}}js/add_comment.js"></script>
{% endblock js %}

{% block css %}
<link href="{{STATIC_URL}}css/blog_show_post.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<h2>{{post.title}}</h2>
<p class="small">{{post.created_on|date:"DATE_FORMAT"}}</p>
<br>
<p>{{post.body|safe}}</p>
<br>
<h2>Comments</h2>
<ul id="comments">
	{% for comment in comments %}
		<li>
			<p><em>"{{comment.text}}"</em></p>
			<p>-{% if comment.user %}{{comment.user.first_name}}{% else %}{{ 'Anonymous' }}{% endif %}</p>
			<br>
		</li>
	{% empty %}
		<li>
			<p>There are no comments yet!</p>
		</li>
	{% endfor %}
</ul>
<br>

<form id="new_comment_form" onsubmit='return submit_new_comment();'>
	{% csrf_token %}
	<fieldset>
		<legend>Add Comment</legend>
			<p>
				<label for='new_comment_text' class="add_comment_label" >Comment:</label>
				<textarea name='new_comment_text' rows="3" cols="50" id='new_comment_text'></textarea>
			</p>
			<p>
				<label for='new_comment_captcha' class="add_comment_label" >What color is this box?:</label>
				<input class='captcha' name ='new_comment_captcha' type='text' id='new_comment_captcha' placeholder="type 'red' here"/>
			</p>
		
			<input class='add_comment_submit' type='submit' value='Comment'/>
	</fieldset>
</form>

{% endblock content %}