{% extends 'base.html' %}
{% block title %} - Keep Alive{% endblock title %}
{% block css %}
<link href="{{STATIC_URL}}css/keepalive_styles.css" rel="stylesheet">
{% endblock css %}

{% block nav %}

<li>
	<a href= {% url kalail.main.views.index %} >Home</a>
</li>
<li >
	<a href= {% url blog.views.index %} >Blog</a>
</li>
<li>
	<a href= {% url versioning.views.index %} >Versions</a>                        
</li>
<li>
	<p>|</p>                        
</li>
<li>
	<a href= {% url notes.views.index %} >Notes</a>                        
</li>
<li>
	<a class="active" href= {% url keepalive.views.index %} >Keep Alive</a>
</li>

{% endblock nav %}

{% block content %}
<h1>Keep Alive</h1>
<p>Want to send periodic requests to your websites so that your dynos don't spin down?</p>
<p>Just write down 3 URLs below and this will send a simple GET request to each of them every 60 seconds.</p>
<p>Make sure to write down the <em>full</em> URL, including the "http://".</p>

<form action= {% url keepalive.views.index %} method="POST">
	{% csrf_token %}
	{% if websites %}
		<input name='website_1' type='text' id='website_1' value={{websites.0}} >
		<br>
		<input name='website_2' type='text' id='website_2' value={{websites.1}} >
		<br>
		<input name='website_3' type='text' id='website_3' value={{websites.2}} >
		<br>
	{% endif %}
	<input class='keepalive_submit' type='submit' value='Save'/>
</form>

{% endblock content %}