#recent_blogposts
{
	display: block;
	left: 0%;
	width: 50%;
	margin: 0px;
	padding: 0px;
}

#recent_tweets
{
	display: block;
	float: right;
	width: 30%;
	margin: 0px;
	padding: 0px;
	font-size: 75%;

}

#home_text
{
	width: 100%;
	margin-bottom: 50px;
}
