p
{
	font-family:"segoe ui";
	color: rgb(220,220,220);
}


h1,h2,h3,h4
{
	font-family:"segoe ui";
	color: rgb(255,255,255);
}

.header
{
	width:100%;
	height:50px;
	top:0px;
	right:0%;
	position: fixed;
	background-color: rgb(255,255,255);
	border-bottom: 10px solid rgb(10,10,10);
	border-top: 10px solid rgb(10,10,10);
}

.header_item
{
	font-family:"segoe ui";
	display: inline;
	padding-left: 20px;
}

.header_item_link
{
	font-family:"segoe ui";
	color: rgb(220,220,220);
	background-color: rgb(0,0,0);
	text-shadow: rgb(255,255,255) 0px 0px 5px;
	border-radius: 10px;
	border-color: rgb(10,10,10);
	border-style: solid;
	border-width: 5px;
	text-decoration:  none;

}

.content
{
	margin-top: 75px;
}

body
{
	width:720px;
	right:50%;
	background-color: rgb(50,50,50);
}
