html
{
	height: 100%;
}

body
{
	margin: 0% 0% 0% 0%;
	height: 100%;
	font-family:"Helvetica", "Arial", sans-serif;
	background-color: rgb(14,14,14);
}

#body_centered
{
	height: 100%;
	width: 900px;
	margin: 0% auto 0%;
	background-image: url("img/background_tile.png");
	background-repeat: repeat;
	box-shadow: 0px 0px 15px 10px black;
	/*Chrome Shadows*/
	-webkit-box-shadow: 0px 0px 15px 10px black;
}

#body_centered_spaced
{
	height: auto;
	width: 860px;
	margin: 0% auto 0%;
}

#header
{
	/*padding: 2px 25px 10px 25px;*/
	height: 140px;
	border-bottom: 1px solid white;
}

#header_spaced
{
	height: auto;
	width: 810px;
	margin: 0px auto;
}

#header_title
{
	height: 70px;
	width: 20%;
	float: left;
	text-align: left;
}

#header_title_text
{
	color: white;
	text-decoration: none;
	text-shadow: white 0px 0px 45px;
}

#header_title_text:hover
{
	color: white;
	text-decoration: none;
	text-shadow: white 0px 0px 30px;
}

#header_user_menu
{
	height: 70px;
	width: 80%;
	float: right;
	text-align: right;
}

#header_nav_block
{
	height: 70px;
	width: 100%;
	float: left;
}

#header_nav_menu
{
	margin-top: 25px;
	margin-left: 0;
	padding-left: 0;
}

.header_item
{
	display: inline;
	padding-right: 5px;
}

.header_item_link
{
	padding:6px;
	color: rgb(255,255,255);
	text-decoration:  none;
}

.header_item_link:hover
{
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
}

#content
{
	width:	810px;
	margin: 0px auto;
	padding-bottom: 25px;
}

#signout_button
{
}

#user_authentication_div
{

}


/*@font-face
{
	font-family: "Segoe UI";
 	src: url("fonts/segoeui.ttf");
}*/

label
{
	width: 175px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.submit
{
	margin-left: 250px;
}

#new_feedbax_submit
{
	margin-left: 288px;
}

#new_feedback_submit
{
	margin-left: 296px;
}

.captcha
{
	background-color: rgb(175,20,20);
	color: white;
}

p
{
	color: rgb(220,220,220);
}

a
{
	color: rgb(160,40,40);
}


h1,h2,h3,h4,h5
{
	color: rgb(255,255,255);
}