p
{
	color: rgb(220,220,220);
}

a
{
	color: rgb(160,40,40);
}


h1,h2,h3,h4,h5
{
	color: rgb(255,255,255);
}

.header
{
	margin: 0px 0px 0px 0px;
	padding: 1px 25px 10px 25px;
	height: 140px;
	

	border-bottom: 1px solid rgb(255,255,255);
}

.header_item
{
	display: inline;
	padding-right: 15px;
	/*padding-left: 15px;*/
}

.header_item_link
{
	border-radius: 15px;
	border-color: rgb(255,255,255);
	border-style: solid;
	border-width: 2px;
	padding:6px;

	color: rgb(255,255,255);
	/*text-shadow: rgb(100,100,100) 0px 0px 15px;*/
	text-decoration:  none;
}

.header_item_link:hover
{
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
}

.content
{
	margin: 0px 25px 0px 25px;
	padding-bottom: 25px;
}

.body-centered
{
	height: auto;

	width: 900px;
	margin: 0% auto 0%;
}

body
{
	margin: 0% 0% 0% 0%;
	height: auto;
	font-family:"Segoe UI", "Helvetica", sans-serif;
	/*background-color: rgb(13,13,13);*/
	/*background-color: rgb(25,25,25);*/
	background-image: url("img/background_tile.png");
	background-repeat: repeat;
}

html
{
	height: auto;
}




@font-face
{
	font-family: "Segoe UI";
 	src: url("fonts/segoeui.ttf");
}

label
{
	width: 175px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.submit
{
	margin-left: 250px;
}

#new_feedbax_submit
{
	margin-left: 288px;
}

#new_feedback_submit
{
	margin-left: 296px;
}

.captcha
{
	background-color: rgb(175,20,20);
	color: white;
}

#kalail_title
{
	color: white;
	text-decoration: none;
	text-shadow: white 0px 0px 45px;
}

